<a href="https://colab.research.google.com/github/AlestanAlves/studies.py/blob/master/controlflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Docs control flow](https://docs.python.org/pt-br/3/tutorial/controlflow.html)

## **if**

In [1]:
x = int(input('Coloque um número:'))

if x < 0:
  x = 0
  print ('Negative changed to zero')
elif x == 0:
  print ('Zero')
elif x ==1:
  print ('Single')
else:
  print('More')

Coloque um número:10
More

## **for**

In [2]:
#Measure some strings:
words = ['cat', 'dog', 'croc', 'cow']
for w in words:
  print(w, len(w))

cat 3
dog 3
croc 4
cow 3

In [10]:
for i in range(10, 15): #começa com 10
  print(i)

10
11
12
13
14

In [12]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [13]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [14]:
print(range(10))

range(0, 10)

## Range não retorna uma lista

In [17]:
sum(range(10)) #1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

45

In [18]:
list(range(4))

[0, 1, 2, 3]

## **break e continue**

In [20]:
for n in range(10):
  for x in range(2,n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
  else:
    #loop feel through without finding a factor
    print (n, 'is a prime number')

0 is a prime number
1 is a prime number
2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [23]:
for num in range (10):
  if num % 2 == 0:
    print('Numero par', num)
    continue
  print('Numero impar', num)

Numero par 0
Numero impar 1
Numero par 2
Numero impar 3
Numero par 4
Numero impar 5
Numero par 6
Numero impar 7
Numero par 8
Numero impar 9

O comando **pass** não faz nada. Ela pode ser usada quando a sintaxe exige um comando mas a semântica do programa não requer nenhuma ação. Por exemplo:

In [0]:
while True:
  pass

Isto é usado muitas vezes para se definir **classes mínimas**:

In [0]:
class MyEmptyClass:
  pass

Outra ocasião em que o **pass** pode ser usado é como um substituto temporário para uma função ou bloco condicional, quando se está trabalhando com código novo, ainda indefinido, permitindo que mantenha-se o pensamento num nível mais abstrato. O pass é silenciosamente ignorado:

In [0]:
def initlog(*args):
  pass   # Lembre-se de implementar isso

## Definindo funções

Podemos criar uma função que escreve a série de Fibonacci até um limite arbitrário:

In [28]:
def fib(n):
  a, b = 0, 1
  while a < n: #série de Fibonacci
    print(a , end=' ')
    a, b = b, a+b
  print()
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597